{% extends 'baselista.html.twig' %}
{% block title %} Taskboard {% endblock %}

{% block body %}
  <section id="content_outer_wrapper">
        <div id="content_wrapper" class="simple">
          <div id="header_wrapper" class="header-sm">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-3">
                  <header id="header">
                    <h1>Taskboard</h1>
                  </header>
                </div>
              </div>
            </div>
          </div>
          <div id="content" class="container-fluid">
            
            <div class="content-body">
            <div id="taskboard-wrapper">
              <div class="row">
                <!--PROGRESO-->
                <div class="col-xs-12 col-md-5">
                  <section class="card-lane-wrapper">
                    <div class="card card-task" data-task-title="Archivado">
                      <div class="color md-bg-blue-500" data-task-color="md-bg-blue-500"></div>
                      <header class="card-heading">
                        <span class="badge md-bg-blue-500 count">0</span>
                        <h2 class="card-title">En Progreso</h2>
                        <ul class="card-actions icons right-top">
                          <li class="dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                              <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu btn-primary dropdown-menu-right">
                              <li>
                                <a href="#" data-task="delete"><i class="zmdi zmdi-delete" ></i> Eliminar Tareas</a>
                              </li>

                            </ul>
                          </li>
                        </ul>
                      </header>
                    </div>
          

                    <div class="card-lane progreso" id="progreso">          
{% for entity in tareas if entity.estado == 'P' %}                    

                      <div class="card card-task-item" data-drawer="open-right-lg">
                        <div  data-task-id="{{entity.id}}" class="bg-white">

                        <input type="hidden" value="{{ entity.id }}" id="dataid" >
                          <header class="card-heading">
                            <h2 class="card-title" data-task="title">{{entity.titulo}}</h2>
                          </header>
                          <div class="card-body">
                            <div id="descripcion">{{ entity.descripcion|raw }}</div>

                            <p data-task="notes">
                              {{ entity.descripcion|striptags }}
                            </p>
                             <p><b>Fecha de Creación: </b>{{ entity.fechacreacion|date('d-m-Y') }}</p>
                          </div>
                          <div class="card-footer border-top">
                            <ul class="card-actions icons left-bottom" data-task="metadata">
                              <li class="">
                                <i class="zmdi zmdi-comment"></i>
                                <span>2</span>
                              </li>
                              <li class="">
                                <i class="mdi mdi-note-text"></i>
                                <span>{{entity.files|length}}</span>
                              </li>
                            </ul>
                            <ul class="card-actions right-bottom">
                              <li class="">
                                <span class="task-number">#{{entity.id}}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
 {% endfor %}                     
                    </div>


                  {#   <div class="add-task text-center">
                      <button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-task="add-task"><i class="zmdi zmdi-plus"></i></button>
                    </div> 
                    #}
                  <div class="add-task text-center">
                      <button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-whatever="P" data-toggle="modal" data-target="#myModal"><i class="zmdi zmdi-plus" ></i></button>
                    </div> 


                  </section>
                </div>
        <!--FINPROGRESO-->
     
        <!--FINALIZADO-->
                <div class="col-xs-12 col-md-4">
                  <section class="card-lane-wrapper">
                    <div class="card card-task" data-task-title="Archivado">
                      <div class="color md-bg-green-500" data-task-color="md-bg-green-500"></div>
                      <header class="card-heading">
                        <span class="badge md-bg-green-500 count">0</span>
                        <h2 class="card-title">Finalizado</h2>
                        <ul class="card-actions icons right-top">
                          <li class="dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                              <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu btn-primary dropdown-menu-right">
                              <li>
                                <a href="#" data-task="deletefinalizado"><i class="zmdi zmdi-delete"></i> Eliminar Tareas</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </header>
                    </div>
           

                    <div class="card-lane" id="finalizado">
{% for entity in tareas if entity.estado == 'F' %}   
                 
                      <div class="card card-task-item" data-drawer="open-right-lg">
                        <div data-task-id="{{entity.id}}" class="bg-white">

<input type="hidden" value="{{ entity.id }}" id="dataid" >


                          <header class="card-heading">


                            <h2 class="card-title" data-task="title">{{entity.titulo}}</h2>
                          </header>
                          <div class="card-body">
                            <div id="descripcion">{{ entity.descripcion|raw }}</div>
                            <p data-task="notes">
                              {{ entity.descripcion|striptags }}
                            </p>
                             <p><b>Fecha de Creación: </b>{{ entity.fechacreacion|date('d-m-Y') }}</p>
                          </div>
                          <div class="card-footer border-top">
                            <ul class="card-actions icons left-bottom" data-task="metadata">
                              <li class="">
                                <i class="zmdi zmdi-comment"></i>
                                <span>2</span>
                              </li>
                              <li class="">
                                <i class="mdi mdi-note-text"></i>
                                <span>{{entity.files|length}}</span>
                              </li>
                            </ul>
                            <ul class="card-actions right-bottom">
                              <li class="">
                                <span class="task-number">#{{entity.id}}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
         {% endfor %}                        
                    </div>
         
                    <div class="add-task text-center">
                      <button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-toggle="modal" data-whatever="F" data-target="#myModal"><i class="zmdi zmdi-plus" ></i></button>
                    </div>
                  </section>
                </div>
        <!--FINFINALIZADO-->

        <!--archivado-->
                <div class="col-xs-12 col-md-3">
                  <section class="card-lane-wrapper">
                    <div class="card card-task" data-task-title="Archivado">
                      <div class="color md-bg-grey-500" data-task-color="md-bg-grey-500"></div>
                      <header class="card-heading">
                        <span class="badge md-bg-grey-500 count">0</span>
                        <h2 class="card-title">Archivado</h2>
                        <ul class="card-actions icons right-top">
                          <li class="dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                              <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu btn-primary dropdown-menu-right">
                              <li>
                                <a href="#" data-task="deletearchivado"><i class="zmdi zmdi-delete"></i> Eliminar Tareas</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </header>
                    </div>
                    


                    <div class="card-lane" id="archivado">
              {% for entity in tareas if entity.estado == 'A' %}

                      <div class="card card-task-item" data-drawer="open-right-lg">
                        <div data-task-id="{{entity.id}}" class="bg-white">

<input type="hidden" value="{{ entity.id }}" id="dataid" >


                          <header class="card-heading">
                            <h2 class="card-title" data-task="title">{{ entity.titulo }}</h2>
                          </header>
                          <div class="card-body">
                            <div id="descripcion">{{ entity.descripcion|raw }}</div>
                            <p data-task="notes">
                              {{ entity.descripcion|striptags }}
                            </p>
                             <p><b>Fecha de Creación: </b>{{ entity.fechacreacion|date('d-m-Y') }}</p>
                          </div>
                          <div class="card-footer border-top">
                            <ul class="card-actions icons left-bottom" data-task="metadata">
                              <li class="">
                                <i class="zmdi zmdi-comment"></i>
                                <span>2</span>
                              </li>
                              <li class="">
                                <i class="mdi mdi-note-text"></i>
                                <span>{{entity.files|length}}</span>
                              </li>
                            </ul>
                            <ul class="card-actions right-bottom">
                              <li class="">
                                <span class="task-number">#{{entity.id}}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
           {% endfor %}                      
                    </div>
         
                    <div class="add-task text-center">
                      <button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-toggle="modal" data-whatever="A"data-target="#myModal"><i class="zmdi zmdi-plus"></i></button>
                    </div>
                  </section>
                </div>
        <!--finarchivado-->
              </div>
            </div>
          </div>
          </div>
          <aside style="width:600px;max-width:600px;" class="drawer-right-lg mw-lightGray" id="taskInfo">
            <div class="tabpanel">
              <ul class="nav nav-tabs nav-justified">
                <li class="active" role="presentation"><a href="#tab-editTaskInfo" data-toggle="tab" aria-expanded="true">Detalles <span class="card-title-detalles"></span> <span class="card-number1"></span></a></li>
              </ul>
            </div>
            <div class="tab-content p-20 ">
              <div class="tab-pane fadeIn active" id="tab-editTaskInfo">
                <!-- Task Demo Content -->
                <section id="task-info-wrapper">
                  <div class="card p-15 m-b-10">
                    <div class="task-created">
                      <ul class="list-group user-group inline-block p-l-10 m-r-5 " data-task="users">
                        <li class="list-group-item">
                          <img src="assets/img/profiles/11.jpg" alt="" class="img-circle max-w-40 ">
                        </li>
                      </ul>
                      <span class="name">Creado por Kristine Wilson</span>
                      <span class="date-wrapper pull-right">
                        <div class="form-group date is-empty">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            <input type="text" class="form-control" type="date" value="2018-05-01" readonly="">
                          </div>
                        </div>
                      </span>
                      <span class="date-wrapper pull-right">hasta</span>
                       <span class="date-wrapper pull-right">
                        <div class="form-group date is-empty">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            <input type="text" class="form-control"  type="date" value="2018-04-01" readonly="">
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>
                  <div class="card p-15 m-b-10">
                    <div class="task-created">
                        

<div id="chronoExample">
    <div class="values">00:00:00</div>    
    <div class="values2" style="display:none">00:00:00</div>
    <div>
        <button class="startButton btn-success" ><i class="zmdi zmdi-play"></i>
</button>
        <button class="pauseButton btn-danger" style="display:none">
          <i class="zmdi zmdi-pause"></i>

        </button>      
        
        
    </div>
</div>
                

                    </div>
                  </div>
                  <div class="card card-active" data-active-id="">
                    <div data-task-color=""></div>
                    <header class="card-heading border-bottom">
                      <h2  id="taskListTitle" class="card-title"></h2>
                      <ul class="card-actions icons right-top">
                        <li>
                          <span class="card-number"></span>
                          <span class="reporte" style="display:none"></span>
                        </li>
                        <li class="dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                          </a>
                          <ul class="dropdown-menu btn-primary dropdown-menu-right">
                            <li>
                              <a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> Remove List</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </header>
                    <div class="card-body p-t-0">
                      <div class="form-group">
                        <label class="control-label">Titulo del Task</label>
                        <a href="javascript:void(0)" class="editable editable-click editable-empty" id="editTaskTitle" data-type="text"  data-placeholder="Titulo del Task" data-title="Enter title"></a>
                      </div>
                      <div class="form-group">



                        <label class="control-label"><i class="mdi mdi-note-text"></i> Descripcion</label>

                        {# <textarea class="guardardescripcion" id="editTaskNotes"></textarea>#}
                        <a href="javascript:void(0)" id="editTaskNotes" data-type="textarea" class="descripcionota" data-placeholder="Descripcion" data-title="Enter notes"></a>

                        {#<button type="button" title="Guardar Descripcion" class="btn btn-primary btn-fab btn-fab-xs m-5 editable-submit"><i class="mdi mdi-check"></i></button>#}

                        <button id="edit" class="btn btn-primary btn-fab btn-fab-xs m-5 editable-submit editarnotes" type="button"><i class="mdi mdi-check"></i></button>
{#<button id="save" class="btn btn-primary" onclick="save()" type="button">Save 2</button>#}

                      </div>
                    </div>
                  </div>
                 
                 <div class="card usuariosadd">
                    <header class="card-heading border-bottom">
                      <h2 class="card-title">Usuarios Asignado</h2>
                    </header>
                    <div class="card-body">
                        
                    </div>
                  </div>

                  <div class="card">
                    <header class="card-heading border-bottom">
                      <h2 class="card-title">Adjuntos</h2>
                    </header>
                    <div class="card-body p-0">
                      <div id="card_attchments">
                        <ul class="list-group ">
                          <li class="list-group-item ">
                            <span class="pull-left m-r-10"><i class="zmdi zmdi-image circle-xs mw-red"></i></span>
                            <div class="list-group-item-body">
                              <div class="list-group-item-text m-t-5">design-guidlines.pdf</div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <span class="pull-left m-r-10"><i class="zmdi zmdi-image circle-xs mw-red"></i></span>
                            <div class="list-group-item-body">
                              <div class="list-group-item-text m-t-5">design-files.psd</div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <span class="pull-left m-r-10"><i class="zmdi zmdi-image circle-xs mw-red"></i></span>
                            <div class="list-group-item-body">
                              <div class="list-group-item-text m-t-5">otros.jpg</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-footer">
                      <form action="#" class="upload-form" enctype="multipart/form-data" name="adjuntos" id ="taskarchivo">
                        <div class="form-group is-empty is-fileinput">
                          <div class="input-group">

                            <input type="hidden" class="form-control" name="idtask" id="idtask">
                            <input type="file" class="form-control" placeholder="File Upload..." data-task="add-file" name="archivo">
                            <div class="input-group">
                              <input type="text" readonly="" class="form-control" placeholder="Attach a file...">
                              <span class="input-group-btn input-group-sm">
                                <button type="button" class="btn btn-info btn-fab btn-fab-sm" >
                                
                                  <i class="zmdi zmdi-attachment-alt"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                </section>
                <!-- Task Demo Content -->
              </div>
              <div class="tab-pane fadeIn" id="tab-activity">
                <h6>Yesterday</h6>
                <div class="card">
                  <div class="card-body">
                    <ul class="list-group ">
                      <li class="list-group-item ">
                        <span class="pull-left"><img src="assets/img/profiles/02.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">You uploaded an item</div>
                          <div class="font-size-10 list-group-item-time">Mon 7:11 AM</div>
                          <ul>
                            <li>
                              <i class="zmdi zmdi-language-javascript md-text-amber"></i> <span>sidebar-overlay.js</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-language-javascript md-text-amber"></i> <span>bundle.min.js</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-language-javascript md-text-amber"></i> <span>offline.js</span>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                
                
                <div class="card">
                  <div class="card-body">
                    <ul class="list-group ">
                      <li class="list-group-item ">
                        <span class="pull-left"><img src="assets/img/profiles/02.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">You uploaded 15 items</div>
                          <div class="font-size-10 list-group-item-time">Mon 7:00 AM</div>
                          <ul class="file-activity">
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>app-mail.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>app-notes.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>app-calendar.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>app-contacts.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>app-taskboard.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>charts-c3.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>sidebar-overlay.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>form-layouts.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>form-validation.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>form-wizard.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>bundle.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>charts-morris.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>page-profile.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>page-timeline.html</span>
                            </li>
                            <li>
                              <i class="zmdi zmdi-file-text mw-blue-text"></i> <span>ui-alerts.html</span>
                            </li>
                            
                          </ul>
                          
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-default btn-flat btn-block m-b-0" data-files="show-all">Show all</a>
                  </div>
                </div>
                </div>
              </div>
            </aside>
            <section id="chat_compose_wrapper">
              <div class="tippy-top">
                <div class="recipient">Allison Grayce</div>
                <ul class="card-actions icons  right-top">
                  <li>
                    <a href="javascript:void(0)">
                      <i class="zmdi zmdi-videocam"></i>
                    </a>
                  </li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu btn-primary dropdown-menu-right">
                      <li>
                        <a href="javascript:void(0)">Option One</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Option Two</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Option Three</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="javascript:void(0)" data-chat="close">
                      <i class="zmdi zmdi-close"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class='chat-wrapper scrollbar'>
                <div class='chat-message scrollbar'>
                  <div class='chat-message chat-message-recipient'>
                    <img class='chat-image chat-image-default' src='assets/img/profiles/05.jpg' />
                    <div class='chat-message-wrapper'>
                      <div class='chat-message-content'>
                        <p>Hey Mike, we have funding for our new project!</p>
                      </div>
                      <div class='chat-details'>
                        <span class='today small'></span>
                      </div>
                    </div>
                  </div>
                  <div class='chat-message chat-message-sender'>
                    <img class='chat-image chat-image-default' src='assets/img/profiles/02.jpg' />
                    <div class='chat-message-wrapper '>
                      <div class='chat-message-content'>
                        <p>Awesome! Photo booth banh mi pitchfork kickstarter whatever, prism godard ethical 90's cray selvage.</p>
                      </div>
                      <div class='chat-details'>
                        <span class='today small'></span>
                      </div>
                    </div>
                  </div>
                  <div class='chat-message chat-message-recipient'>
                    <img class='chat-image chat-image-default' src='assets/img/profiles/05.jpg' />
                    <div class='chat-message-wrapper'>
                      <div class='chat-message-content'>
                        <p> Artisan glossier vaporware meditation paleo humblebrag forage small batch.</p>
                      </div>
                      <div class='chat-details'>
                        <span class='today small'></span>
                      </div>
                    </div>
                  </div>
                  <div class='chat-message chat-message-sender'>
                    <img class='chat-image chat-image-default' src='assets/img/profiles/02.jpg' />
                    <div class='chat-message-wrapper'>
                      <div class='chat-message-content'>
                        <p>Bushwick letterpress vegan craft beer dreamcatcher kickstarter.</p>
                      </div>
                      <div class='chat-details'>
                        <span class='today small'></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <footer id="compose-footer">
                <form class="form-horizontal compose-form">
                  <ul class="card-actions icons left-bottom">
                    <li>
                      <a href="javascript:void(0)">
                        <i class="zmdi zmdi-attachment-alt"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="zmdi zmdi-mood"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="form-group m-10 p-l-75 is-empty">
                    <div class="input-group">
                      <label class="sr-only">Leave a comment...</label>
                      <input type="text" class="form-control form-rounded input-lightGray" placeholder="Leave a comment..">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-blue btn-fab  btn-fab-sm">
                          <i class="zmdi zmdi-mail-send"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </form>
              </footer>
            </section>
          </div>
          <footer id="footer_wrapper">
            <div class="footer-content">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h6>Want to Work with Us?</h6>
                  <p>Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo affogato dolore gentrify retro chartreuse. Anim austin tempor ethical, sapiente food truck fanny pack farm-to-table.
                    Culpa keytar esse tilde hoodie, art party nostrud messenger bag authentic helvetica kinfolk cred eu affogato forage.</p>
                  </div>
                  <div class="col-xs-12 col-sm-2">
                    <h6>Company</h6>
                    <ul>
                      <li><a href="javascript:void(0)">About Us </a></li>
                      <li><a href="javascript:void(0)">Careers</a></li>
                      <li><a href="javascript:void(0)">Privacy Policy</a></li>
                      <li><a href="javascript:void(0)">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <h6>Email Newsletters</h6>
                    <p>Sign up for new MaterialWrap content, updates, and offers.</p>
                    <div class="form-group is-empty">
                      <div class="input-group">
                        <label class="control-label sr-only" for="footerEmail">Email Address</label>
                        <input type="email" class="form-control" id="footerEmail" placeholder="Enter your email address...">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-white btn-fab animate-fab btn-fab-sm">
                            <i class="zmdi zmdi-mail-send"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row copy-wrapper">
                  <div class="col-xs-8">
                    <p class="copy">&copy; Copyright <time class="year"></time> MaterialWrap - All Rights Reserved</p>
                  </div>
                  <div class="col-xs-4">
                    <ul class="social">
                      <li>
                        <a href="javascript:void(0)"> </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"> </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"> </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"> </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </footer> 
          </section>
<aside id="app_sidebar-right">
            <div class="sidebar-inner sidebar-overlay">
              <div class="tabpanel">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active" role="presentation"><a href="#sidebar_chat" data-toggle="tab" aria-expanded="true">Chat</a></li>
                  <li role="presentation"><a href="#sidebar_activity" data-toggle="tab">Activity</a></li>
                  <li role="presentation"><a href="#sidebar_settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade active in" id="sidebar_chat">
                    <form class="m-l-15 m-r-15 m-t-30">
                      <div class="input-group search-target">
                        <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                        <div class="form-group is-empty">
                          <input type="text" value="" placeholder="Filter contacts..." class="form-control" data-search-trigger="open">
                        </div>
                      </div>
                    </form>
                    <ul class="description">
                      <li class="title">
                        Online
                      </li>
                    </ul>
                    <ul class="list-group p-0">
                      <li class="list-group-item" data-chat="open" data-chat-name="John Smith">
                        <span class="pull-left"><img src="assets/img/profiles/07.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini success status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">John Smith</div>
                          <div class="list-group-item-text">New York, NY</div>
                        </div>
                      </li>
                      <li class="list-group-item" data-chat="open" data-chat-name="Allison Grayce">
                        <span class="pull-left"><img src="assets/img/profiles/05.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini success status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">Allison Grayce</div>
                          <div class="list-group-item-text">Seattle, WA</div>
                        </div>
                      </li>
                      <li class="list-group-item" data-chat="open" data-chat-name="Ashley Ford">
                        <span class="pull-left"><img src="assets/img/profiles/18.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini success status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">Ashley Ford</div>
                          <div class="list-group-item-text">Denver, CO</div>
                        </div>
                      </li>
                      <li class="list-group-item" data-chat="open" data-chat-name="Johanna Kollmann">
                        <span class="pull-left"><img src="assets/img/profiles/11.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini success status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">Johanna Kollmann </div>
                          <div class="list-group-item-text">Palo Alto, Ca</div>
                        </div>
                      </li>
                    </ul>
                    <ul class="description">
                      <li class="title">
                        Busy
                      </li>
                    </ul>
                    <ul class="list-group p-0">
                      <li class="list-group-item" data-chat="open" data-chat-name="Mike Jones">
                        <span class="pull-left"><img src="assets/img/profiles/03.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini warning status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">Mike Jones </div>
                          <div class="list-group-item-text">San Francisco, CA</div>
                        </div>
                      </li>
                      <li class="list-group-item" data-chat="open" data-chat-name="Nikki Clark">
                        <span class="pull-left"><img src="assets/img/profiles/06.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini warning status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">Nikki Clark </div>
                          <div class="list-group-item-text">Sarasota, FL</div>
                        </div>
                      </li>
                      <li class="list-group-item" data-chat="open" data-chat-name="Jason Kendall">
                        <span class="pull-left"><img src="assets/img/profiles/15.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini warning status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">Jason Kendall </div>
                          <div class="list-group-item-text">New York, NY</div>
                        </div>
                      </li>
                    </ul>
                    <ul class="description">
                      <li class="title">
                        Offline
                      </li>
                    </ul>
                    <ul class="list-group p-0">
                      <li class="list-group-item" data-chat="open" data-chat-name="Josh Hemsley">
                        <span class="pull-left"><img src="assets/img/profiles/16.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini danger status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">Josh Hemsley</div>
                          <div class="list-group-item-text">Salem, MA</div>
                        </div>
                      </li>
                      <li class="list-group-item" data-chat="open" data-chat-name="James Hart">
                        <span class="pull-left"><img src="assets/img/profiles/09.jpg" alt="" class="img-circle max-w-40 m-r-10 "></span>
                        <i class="badge mini danger status"></i>
                        <div class="list-group-item-body">
                          <div class="list-group-item-heading">James Hart</div>
                          <div class="list-group-item-text">Salem, MA</div>
                        </div>
                      </li>
                    </ul>
                    <button class="btn btn-primary btn-fab btn-fab-sm animate-fab" data-chat="open" id="chat_fab_new">
                      <i class="zmdi zmdi-plus"></i>
                    </button>
                  </div>
                  <div class="tab-pane fade" id="sidebar_activity">
                    <div class="sidebar-timeline">
                      <div class="time-item">
                        <div class="item-info">
                          <small class="text-muted">15 minutes ago</small>
                          <p><a href="#" class="accent">Mike Jones</a> fixed z-index conflict sidebar.scss</p>
                        </div>
                      </div>
                      <div class="time-item">
                        <div class="item-info">
                          <small class="text-muted">30 minutes ago</small>
                          <p><a href="javascript:void(0)" class="accent">Hazel  Dean</a> left a comment on product page designs.</p>
                          <p><em>"Yuccie shoreditch trust fund, artisan tumblr sustainable cronut unicorn blog seitan. "</em></p>
                        </div>
                      </div>
                      <div class="time-item">
                        <div class="item-info">
                          <small class="text-muted">45 minutes ago</small>
                          <p><a href="javascript:void(0)" class="accent">Molly</a> requested time off for training.</p>
                          <p><em>"Snackwave church-key cardigan you probably haven't heard of them, asymmetrical microdosing cronut "</em></p>
                        </div>
                      </div>
                      <div class="time-item">
                        <div class="item-info">
                          <small class="text-muted">3 hours ago</small>
                          <p><a href="javascript:void(0)" class="accent">Frederick  Roy</a> commented your post.</p>
                          <p><em>"Skateboard dreamcatcher la croix, edison bulb sustainable sriracha vexillologist kombucha master cleanse."</em></p>
                        </div>
                      </div>
                      <div class="time-item">
                        <div class="item-info">
                          <small class="text-muted">1 hour ago</small>
                          <p><a href="javascript:void(0)" class="accent">Holly Cobb</a> Uploaded 6 new photos.</p>
                        </div>
                      </div>
                      <div class="time-item">
                        <div class="item-info">
                          <small class="text-muted">5 hours ago</small>
                          <p><a href="javascript:void(0)" class="accent">Neal Stephens</a> setup a meeting with<a href="#" class="text-success"> Jason Kendall</a>.</p>
                          <p><em>"Authentic aesthetic tattooed, PBR&B squid tote bag schlitz vaporware glossier yr man braid direct trade disrupt poke.  "</em></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="sidebar_settings">
                    <div class="color-container">
                      <h3 class="title">Preset Color Options</h3>
                      <div class="row">
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-a.css">
                              <input type="radio" name="setting-theme" checked="checked">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-a"></span>
                                <span class="color bg-shade-theme-a"></span>
                              </span>
                              <span class="color bg-menu-darkBlue"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-b.css">
                              <input type="radio" name="setting-theme">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-b"></span>
                                <span class="color bg-shade-theme-b"></span>
                              </span>
                              <span class="color  bg-menu-darkBlue"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-c.css">
                              <input type="radio" name="setting-theme">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-c"></span>
                                <span class="color bg-shade-theme-c"></span>
                              </span>
                              <span class="color  bg-menu-darkBlue"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-d.css">
                              <input type="radio" name="setting-theme">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-d"></span>
                                <span class="color bg-shade-theme-d"></span>
                              </span>
                              <span class="color  bg-menu-darkBlue"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row m-t-20">
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-e.css">
                              <input type="radio" name="setting-theme" checked="checked">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-e"></span>
                                <span class="color bg-shade-theme-e"></span>
                              </span>
                              <span class="color bg-menu-white"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-f.css">
                              <input type="radio" name="setting-theme">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-f"></span>
                                <span class="color bg-shade-theme-f"></span>
                              </span>
                              <span class="color  bg-menu-white"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-g.css">
                              <input type="radio" name="setting-theme">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-g"></span>
                                <span class="color bg-shade-theme-g"></span>
                              </span>
                              <span class="color  bg-menu-white"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-xs-3 p-0">
                          <div class="color-option-check">
                            <label data-load-css="assets/css/theme-h.css">
                              <input type="radio" name="setting-theme">
                              <span class="icon-check"></span>
                              <span class="split">
                                <span class="color bg-primary-theme-h"></span>
                                <span class="color bg-shade-theme-h"></span>
                              </span>
                              <span class="color  bg-menu-white"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <h3 class="title m-t-30">Layout Mode</h3>
                      <ul class="description">
                        
                        <li>
                          <div class="radio block"><label><input type="radio" name="layoutMode" value="" checked>FULL WIDTH</label></div>
                          
                          
                        </li>
                        <li>
                          <div class="radio block"><label><input type="radio" name="layoutMode" value="boxed-layout">BOXED</label></div>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Tarea</h4>
      </div>
      <div class="modal-body">


        
  {{ form_start(form , { 'attr': {'role': 'form','novalidate':'novalidate', 'class':'form-horizontal','id':'formtask'} }) }}
   

   {{ form_row(form.titulo,{'label':'Titulo Task','attr': {'class': 'form-control','placeholder':'Titulo Task', 'title': 'Mencione titulo del Task'} } ) }}  

   {{ form_row(form.descripcion,{'label':'Descripcion de Task','attr': {'class': 'form-control','placeholder':'Descripcion de Task', 'title': 'Mencione descripcion del Task'} } ) }}  


   {{ form_row(form.fechacreacion,{'label':'Fecha de Creacion','attr': {'class': 'form-control js-datepicker','placeholder':'Fecha de Creacion', 'title': 'Fecha de Creacion'} } ) }}  


  {{ form_row(form.fechacomienzo,{'label':'Fecha de Comienzo','attr': {'class': 'form-control','placeholder':'Fecha de Creacion', 'title': 'Fecha de Comienzo'} } ) }}  
      
    

{{ form_row(form.fechafin,{'label':'Fecha Fin','attr': {'class': 'form-control','placeholder':'Fecha de Creacion', 'title': 'Fecha Fin'} } ) }}  
    


{{ form_row(form.usuarios,{'label':'Fecha Fin','attr': {'class': 'form-control','placeholder':'Fecha de Creacion', 'title': 'Seleccione Usuarios'} } ) }}  
  
      </div>
      <div class="modal-footer">
<button type="button"  id="xcerrar" class="btn btn-sm btn-success btn-md pull-right" data-dismiss="modal"><i class="zmdi zmdi-minus"></i></button>

      
<button class="btn btn-sm btn-success btn-md pull-right" data-task="add-task" data-dismiss="modal"><i class="zmdi zmdi-plus"></i></button>
                    
        
      </div>
{{ form_end(form) }}

    </div>

  </div>
</div>          

{% endblock %}


{% block javascript %}
<script>


$( "form" ).on( "submit", function( event ) {
    event.preventDefault();
    
    });


 $("#creardatos").click(function () {  


        $.ajax({
              url:   '{{ url('task',{'id':idtask}) }}',
              type: "POST",
              data: $("#formtask").serialize(),
              beforeSend: function () {
              },
              success:  function (response) {
                //mostrar Se elimino en un mensaje       
                //var tr = vinclulo.parent().parent().remove();
                //tr.remove();
                //$(document.body).html(response);
          //      $('html, body').animate({scrollTop: $("#progreso").offset().top}, 0);
               //$(document.body).scrollspy('refresh')
              //  $("#progreso").load(" #progreso");
          var valor = $('#myModal').find('#form_estado').val();
          if (valor == "A"){
$("#progreso").append('<div class="card card-task-item" data-drawer="open-right-lg"><div  data-task-id="14" class="bg-white"><input type="hidden" value="14" id="dataid" ><header class="card-heading"><h2 class="card-title" data-task="title">titulo</h2></header><div class="card-body"><p>descripcion</p><p data-task="notes">descripcion</p></div><div class="card-footer border-top"><ul class="card-actions icons left-bottom" data-task="metadata"><li class=""><i class="zmdi zmdi-comment"></i><span>2</span></li><li class=""><i class="mdi mdi-note-text"></i><span>1</span></li></ul><ul class="card-actions right-bottom"><li class=""><span class="task-number">#14</span></li></ul></div></div></div>');



          (0, _drawers.toggleDrawer)();
          
          }
          //progreso(valor,{{idtask}});

              }
            });
      });

   $('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var recipient = button.data('whatever'); // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this);
  
 // modal.find('.modal-title').text('N° DE ID ' + recipient)
modal.find('#form_estado').val(recipient);

  
})



function progreso(valor,idfuncion){
var dato = valor;
var id = idfuncion
$.ajax({      
      
      url:   '{{ url('progreso') }}',
      type: "GET",
      data: { valor : dato, idtaskboard: idfuncion },    
      beforeSend: function () {
      },
      success:  function (response) {
        if (valor == "P"){
             $("#progreso").html(response);
              $(document.body).scrollspy('refresh')
        }

        if (valor == "F"){
             $("#finalizado").html(response);
              $(document.body).scrollspy('refresh')
        }

        if (valor == "A"){
             $("#archivado").html(response);
              $(document.body).scrollspy('refresh')
        }
      }
    });



}


function statustask(id,status){


$.ajax({      
      
      url:   '{{ url('cambiarstatus') }}',
      type: "GET",
      data: { id : id, status:status },    
      beforeSend: function () {
      },
      success:  function (response) {
        
      }
    });




}

 $('#tiempotranscurrido').click(function () {
    
    var tarjeta = $('.card-task-item').find('[data-task-id]').data('taskId');
       
});

var timeresto = new Timer();
var timepause = new Timer();
function buscartareas(idtask){
  $('.guardardescripcion').summernote('destroy');
   $(".values").empty();
    $(".values2").empty();
      $('.pauseButton').css({"display": "none"});
      $('.startButton').css({"display": "none"});  
  var idtask = idtask;
       $.post( "{{path('taskboardbuscar')}}", { idtask: idtask }).done(function( data ) {
              if(data.length>0){

                      var descripcion = data[0]['descripcion'];  
                      console.log("descripcion nueva"+descripcion);
      
      //$('#task-info-wrapper .card-body #editTaskNotes').html(descripcion);
      //$('.guardardescripcion').summernote();

                      var segundos = data[0]['tiempo'];

                    if(segundos == 0){
                      console.log("segundos en ceros");
                        $('.startButton').css({"display": "block"}); 
                        timeresto.reset();
                        timeresto.stop();
                        $(".values").empty();
                        $(".values2").empty();
                        return false;
                        
                      }  


console.log(data[0]['tiempo']);
console.log("fecha actual "+data[0]['actual']);


var fecha1 = moment(data[0]['tiempo'], "YYYY-MM-DD HH:mm:ss");
var fecha2 = moment(data[0]['actual'], "YYYY-MM-DD HH:mm:ss");

var diff = fecha2.diff(fecha1, 'd'); // Diff in days
console.log(diff);

var diff = fecha2.diff(fecha1, 'h'); // Diff in hours
console.log(diff);

var diff = fecha2.diff(fecha1, 'm'); // Diff in hours
console.log(diff);


var segundos = fecha2.diff(fecha1, 's'); // Diff in hours
console.log("segundos en fechas "+segundos);
console.log("el status es "+data[0]['status']);

if(data[0]['status'] == 'P'){
  var segundosnumeros = parseInt(data[0]['tiempo']);
  //$(".values2").text(segundosnumeros);
  $('.pauseButton').css({"display": "none"});
$('.startButton').css({"display": "block"}); 
                    

console.log("segundos en status P "+segundosnumeros);
timeresto.stop();
timeresto.start({countdown: false, startValues: {seconds:segundosnumeros}});
$('#chronoExample .values').html(timeresto.getTimeValues().days + " dias "+timeresto.getTimeValues().hours + " horas "+timeresto.getTimeValues().minutes+" minutos "+timeresto.getTimeValues().seconds+ " segundos" );
          timeresto.pause();
                      
}else{
  $('.startButton').css({"display": "none"}); 
$('.pauseButton').css({"display": "block"});

                      timeresto.stop();
                      timeresto.start({countdown: false, startValues: {seconds:segundos}});
}
timeresto.addEventListener('secondsUpdated', function (e) {
   //console.log(timeresto.getTotalTimeValues().seconds);
    $('#chronoExample .values').html(timeresto.getTimeValues().days + " dias "+timeresto.getTimeValues().hours + " horas "+timeresto.getTimeValues().minutes+" minutos "+timeresto.getTimeValues().seconds+ " segundos" );

    $('#chronoExample .values2').html(timeresto.getTotalTimeValues().seconds);
});
timeresto.addEventListener('started', function (e) {
     
    $('#chronoExample .values').html(timeresto.getTimeValues().toString());

});
timeresto.addEventListener('reset', function (e) {
     
    $('#chronoExample .values').html(timeresto.getTimeValues().toString());
});



                     


              }else{
                /*alert("ESTE REGISTRO NO EXISTE");*/
                //stop

              }

              
          });


} // FIN DE BUSCAR TIEMPO

var fecha1 = moment("2016-05-03 07:30:00", "YYYY-MM-DD HH:mm:ss");
var fecha2 = moment("2016-05-04 12:30:30", "YYYY-MM-DD HH:mm:ss");

var diff = fecha2.diff(fecha1, 'd'); // Diff in days
console.log(diff);

var diff = fecha2.diff(fecha1, 'h'); // Diff in hours
console.log(diff);

var diff = fecha2.diff(fecha1, 'm'); // Diff in hours
console.log(diff);


var segundos = fecha2.diff(fecha1, 's'); // Diff in hours
console.log(segundos);







 $('#chronoExample .startButton').click(function () {
  
    console.log("NRO DE TARJETA "+$('.reporte').html());
 $.post( "{{path('guardatiempo')}}", { reporte: $('.reporte').html() }).done(function( data ) {
             
                    timeresto.start();     

                      $('.startButton').css({"display": "none"});
                      $('.pauseButton').css({"display": "block"});   
        
              
          });


});




$('#chronoExample .pauseButton').click(function () {
    

 

$.post( "{{path('pausatiempo')}}", { reporte: $('.reporte').html(), tiempo: $('.values2').html() }).done(function( data ) {
             
                    timeresto.pause();
                    $('.pauseButton').css({"display": "none"});
                    $('.startButton').css({"display": "block"});  
              
          });



});
$('#chronoExample .stopButton').click(function () {
    timeresto.stop();
});
$('#chronoExample .resetButton').click(function () {
    timeresto.reset();
});
timeresto.addEventListener('secondsUpdated', function (e) {
    $('#chronoExample .values').html(timeresto.getTimeValues().toString());
    $('#chronoExample .values2').html(timeresto.getTotalTimeValues().seconds);


});
timeresto.addEventListener('started', function (e) {
    $('#chronoExample .values').html(timeresto.getTimeValues().toString());
});
timeresto.addEventListener('reset', function (e) {
    $('#chronoExample .values').html(timeresto.getTimeValues().toString());
});


function creardatoimportantes(){

var saludo = '{{ url('task',{'id':idtask}) }}';

return saludo;

}



function eliminarreporte(id){


$.ajax({      
      
      url:   '{{ url('deletereporte') }}',
      type: "GET",
      data: { id : id },    
      beforeSend: function () {
      },
      success:  function (response) {
        
      }
    });

}

function modificartask(descripcion = null, nota = null,id){


$.ajax({      
      
      url:   '{{ url('modificartask') }}',
      type: "GET",
      data: { descripcion : descripcion, nota : nota, id : id },    
      beforeSend: function () {
      },
      success:  function (response) {
        console.log(response[0]['minotas']);
        $('.card-task-item [data-task-id="' + id + '"]').find('[data-task="notes"]').text(response[0]['minotas']);
      }
    });

}






function filestask(id){
        var formData = new FormData($("#taskarchivo")[0]);


$.ajax({      
      
      url:   '{{ url('filestask') }}',
      type: "POST",
      data: formData,
       //necesario para subir archivos via ajax
      cache: false,
      contentType: false,
      processData: false,    
      beforeSend: function () {
      },
      success:  function (response) {
          
        $('#card_attchments .list-group').append(response);
        eliminardelete();
      }
    });

}


function listadoarchivo(id){
         $('#card_attchments .list-group').empty();

$.ajax({      
      
      url:   '{{ url('listadoarchivo') }}',
      type: "GET",
      data: {id : id},
      
      beforeSend: function () {
         $('#card_attchments .list-group').empty();
      },
      success:  function (response) {
          

        $('#card_attchments .list-group').append(response);
        eliminardelete();
      }
    });
}


function usuarios(id){
         $('.usuariosadd .card-body').empty();

$.ajax({      
      
      url:   '{{ url('usuarioslistado') }}',
      type: "GET",
      data: {id : id},
      
      beforeSend: function () {
         $('.usuariosadd .card-body').empty();
      },
      success:  function (response) {
          
        $('.usuariosadd .card-body').append(response);
      }
    });
}



  $(document).ready(function() {
          $('.guardardescripcion').summernote();



    });


function eliminardelete()
{
  $(".filedelete").unbind();   
  $(".filedelete").click(function(e){
    console.log("ELIMINANDO");
      e.stopPropagation();
      var $this = $(this).next().val();
      console.log("archivo id "+$this);
      setTimeout(function () {
        swal({
          title: '¿Desea eliminar este archivo?',
          text: "No puede revertir los cambios",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, Eliminar!',
          cancelButtonText: "Cancelar",
        }).then(function () {
          console.log("ELIMINANDO ARCHIVOS");         
        //   eliminarreporte(getId);
        $.ajax({      
      
              url:   '{{ url('deletefile') }}',
              type: "GET",
              data: {id : $this},
      
              beforeSend: function () {
                 //$('.usuariosadd .card-body').empty();
              },
              success:  function (response) {
                  
                //$('.usuariosadd .card-body').append(response);
                listadoarchivo($('#idtask').val());     
              }
        });
        
          swal('!Archivo Eliminado!', 'Archivo Eliminando Exitosamente', 'success');
          
        });
      }, 250);
});
}


  </script>



{% endblock %}